language_data {
  language: "eng"
  version: 1
  image {
    channels: 1
    colorspace: GRAY
  }
  characters {
    # Incluir solo caracteres alfanuméricos en la segmentación de caracteres
    tessedit_char_whitelist: "()/ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
  }
  options {
    # Ajustar los parámetros de segmentación de caracteres según sea necesario
    # Valores experimentales
    segment_penalty_garbage: 0.5
    segment_penalty_dict_nonword: 0.5
    segment_penalty_dict_frequent_word: 0.1
    segment_penalty_dict_case_ok: 0.1
    segment_penalty_dict_case_bad: 1.0
    segment_penalty_dict_nonfreq_word: 0.15
    segment_penalty_dict_numeric: 0.05
    segment_penalty_dict_uppercase: 0.2
    segment_penalty_ngram_best_choice: 0.1
  }
}